# fly.toml app configuration file generated for second-opinion-ai on 2026-02-16T00:37:32-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'second-opinion-ai'
primary_region = 'sjc'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
